{% include "header.html" %}

{% block content %}

<h1 class="text-primary">Hello !!!</h1>

<h1>Search Location</h1>
        <form action="/search" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="location" placeholder="location" required/>
            </div>
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
            <div style="padding-top: 20px;">
                <p style="color: goldenrod;">{{data}}</p>
            </div>
        </form>


  {% endblock content %}


  {% include "footer.html" %}